@import "./Styles/Inputs/inputs", "./Styles/Layout/layout", "./Styles/Header/header", "./Styles/Buttons/buttons",
  "./Styles/Layout/layout", "./Styles/Validation/validation", "./Styles/Keyframes/keyframes", "./Styles/Loader/loader",
  "./Styles/Stepper/stepper", "./Styles/Modals/modals";

html {
  box-sizing: border-box;
  font-size: 10px;
}

h3 {
  margin-bottom: 20px;
  color: #279490 !important;
}

.App {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  background-color: #32e5cd;
  background-image: url("../public/assets/bg-gfx.jpg");
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}
