html {
  box-sizing: border-box;
  font-size: 10px;
}

input[type="text"],
input[type="email"],
input[type="currency"],
input[type="numeric"],
input[type="tel"] {
  width: 300px;
}
input {
  border-style: none;
  background: transparent;
  outline: none;
}

select {
  color: rgb(64 82 109 / 70%);
  appearance: none;
  outline: 0;
  border: 0;
  width: 400px;
  box-shadow: none;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
  color: #2e3240;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  width: 100%;
  height: 80px;
  margin-bottom: 40px;
  display: flex;
  background: white;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  .numberCircle {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    padding: 8px;
    box-sizing: border-box;
    background: #fff;
    border: 3px solid #00dbe5;
    color: #666;
    color: #00dbe5;
    text-align: center;
    line-height: 0px;
    margin: 0;
    display: inline-block;
    font-weight: 800 !important;
    font: 18px "Montserrat", sans-serif;
  }
}

.header svg {
  margin: 0 auto;
}

.sectionNumber {
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
  gap: 13px;
  padding: 5px;
  margin-bottom: 50px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  border-radius: 25px;
}

.webflow-style-input {
  position: relative;
  display: flex;
  flex-direction: row;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  /* max-width: 400px; */
  max-width: 296px;
  margin: 0;
  border-radius: 5px;
  padding: 1.4rem 2rem 1.6rem;
  background: #f0f3ffcc;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #e2e9ff,
    inset -0.2rem -0.2rem 0.5rem #ffffff;
  border: 1px solid #ebf6ff;

  &.spanInput {
    max-width: 50px;
    padding: 10px;
    position: relative;
    // display: flex;
    // flex-direction: row;
    text-align: center;
    // justify-content: center;
    box-sizing: border-box;
    align-items: center;
    margin: 0;
    min-width: 70px;
    margin: 0;
    border-radius: 19px;
    padding: 7px 20px;
    width: 30px;
    display: inline;

    input {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 0;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    &::after {
      display: none;
    }
  }

  &::-webkit-input-placeholder {
    color: #7881a1;
    line-height: 100%;
    margin-top: 3px;
    font-weight: 800;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(
      to right,
      #b294ff,
      #57e6e6,
      #feffb8,
      #57e6e6,
      #b294ff,
      #57e6e6
    );
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
  }
}

select,
.webflow-style-input input {
  flex-grow: 1;
  font-size: 1.4rem !important;
  line-height: 2.4rem;
  font-weight: 500;
  vertical-align: middle;
}

.custom-btn {
  width: 160px;
  margin-top: 0px;
  height: 60px;
  color: #fff;
  border-radius: 7px;
  padding: 10px 40px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.btn-15 {
  background: #00dbe5;
  border: none;
  z-index: 1;

  &:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #00d6ba;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  &:hover {
    color: #fff;
  }
  &:hover:after {
    left: 0;
    width: 100%;
  }
  &:active {
    top: 2px;
  }
}

.ageInpContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 226px;
  flex-direction: row;
  justify-content: space-evenly;
}
.ageInput {
  width: 30px !important;
  display: inline !important;
}

.spanInput {
  width: 30px !important;
  display: inline !important;
}

.steps-action {
  background-color: #00d6ba;
  position: relative;
  padding: 15px;
  z-index: 99999;
  gap: 30px;
  bottom: 0px;
  align-items: center;
  left: 0%;
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
  align-items: center;
  right: 0%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.App {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  width: 100%;
  background-color: #32e5cd;
  background-image: url("./pexels-artem-podrez-6787051.jpg");
  background-blend-mode: lighten;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  padding-bottom: 100px;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.inputRow {
  max-width: 400px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  label {
    margin-top: 55px;
  }
}

.genderWrapper {
  position: relative;
  display: flex;
  align-items: center;

  svg {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.row {
  text-align: center;
  box-sizing: border-box;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: #fdfdff;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #efefef82;
  padding: 4% 5%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 90px;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  &:last-child {
    margin-bottom: 0;
  }
}

.radioFieldWrapper {
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  align-items: flex-end;
  padding: 5px;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  justify-content: center;

  label,
  input {
    padding: 0px;
    margin: 0px;
    line-height: normal;
  }

  label {
    line-height: 1.2;
    font-size: 14px;
    font-weight: 500;
    max-width: 440px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
  }

  input {
    line-height: 100%;

    font-size: 32px;
    font-weight: 800;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
  }

  .genderRadios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    gap: 1px;
  }

  .genderRadio {
    position: relative;
    z-index: 1;
    appearance: none;
    border: solid 1px #72978d;
    background-color: #f1f5f534;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0px;
    border-radius: 50%;
    width: 70px;
    height: 70px;

    .genderRadioLabel {
      font-size: 12px;
      font-weight: 700;
    }

    &.gender {
      box-sizing: border-box;
      display: flex;
      gap: 20px;
      align-items: flex-start;
      padding: 5px;
      box-sizing: border-box;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #cef7f7;
      padding: 8px;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      gap: 3px;
      /* width: 139px; */
      margin: 7px;
      margin-bottom: 0;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      flex-wrap: wrap;
      justify-content: center;
    }

    &:first-of-type:checked {
      background-color: #a8d4ff3f;
      border-color: #00d6ba;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      background: linear-gradient(to right, #2ce2f637, #b294ff28, #65e3df2a);
    }
  }

  .longTextRadio {
    box-sizing: border-box;
    position: relative;
    appearance: none;
    border: 1px solid #e7eded;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    min-height: 70px;
    max-height: 190px;
    gap: 3px;
    max-width: 550px;
    margin: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    // width: 90px !important;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    width: 480px;
    cursor: pointer;
    margin-bottom: 5px;
    transition: 0.8s cubic-bezier(1, 0, 0, 1);
    label {
      font-size: 12px !important;
      width: 100%;
      max-width: 300px;
      line-height: 14px !important;
    }
    &:checked {
      background-color: #00d6ba;
      background-color: #a8d4ff3f;
      border-color: #00d6ba;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      background: linear-gradient(to right, #2ce2f637, #b294ff28, #65e3df2a);
    }
  }
  .longCheckbox {
    box-sizing: border-box;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
    transition: 0.8s cubic-bezier(1, 0, 0, 1);
  }
}

.longTextRadio,
.longCheckbox {
  label {
    cursor: pointer;
  }

  &:hover {
    background-color: #00dae534;
  }
}

.wrapper {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  /* white-space: pre-wrap; */
  /* width: 10%; */
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.checkBoxFieldWrapper {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
  label {
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  .longCheckbox {
    border: 1px solid #e7eded;
    border-radius: 10px;
    height: 60px;
    width: 180px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  }
  .defaultCheckbox {
    font-size: 10px !important;
    appearance: none;
    // width: 100px;
    background-color: #ffffff;

    :first-of-type:checked {
      background-color: #00d6ba;
      background-color: #a8d4ff3f;
      border-color: #00d6ba;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      background: linear-gradient(to right, #2ce2f637, #b294ff28, #65e3df2a);
    }
  }
}

.firstHalveOfLabelStr {
  margin-top: 0 !important;
  width: 50px;
  margin-bottom: 0 !important;
}
.secondHalveOfLabelStr {
  margin-top: 0 !important;
  width: 90px;
  margin-bottom: 0 !important;
}

.radioLabel,
.checkBoxLabel {
  position: absolute;
}
.checkBoxLabel {
  line-height: 14px;
  margin-top: 3px;
  font-size: 11px;
  max-width: 150px;
  font-weight: 400;
}
.radioLabel {
  max-width: 450px;
}
